@import '~antd/dist/antd.css';

html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
}
.ant-layout{
  min-height: 100%;
}
.ant-layout-content{
  padding: 10px;
}
.logo{
  width: 50px;
  height: 50px;
  float: left;
  .app-logo{
    max-width: 50px;
    max-height: 50px;
  }
}